.body{
  margin:0;
  padding:0;
  max-width: 100vw;
  max-height: 100%;
  background-color:black;
  color:white;
}
nav .user{
  display: flex;
} 
.note{
  /* color:black; */
}
/* .text_area{
  dispaly:flex;
  padding:"3rem";
justify-content: center;
align-items:center;
} */
 .about_text{
  padding:"5rem";
  margin:"5rem";
  text-align: justify;
}
@media screen and (max-width: 880px) {
  nav .user{
display:flex;
justify-content: center;
align-items:flex-start;
flex-direction: column;
  }
}
